---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
import Technologies from "../components/Technologies.astro";
import Footer from "../components/Footer.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("site.title")} description={t("site.description")}>
	<main class="relative overflow-clip transition-all">
		<Header />
		<div id="about-me" class="px-4 pb-12 md:px-8">
			<Hero />
			<Experience />
			<Technologies />
		</div>
		<Footer />
	</main>
</Layout>

<script>
	import { defaultLang, languages } from "../i18n/ui";

	if (
		typeof window !== "undefined" &&
		!sessionStorage.getItem("hasRedirected")
	) {
		const preferredLang = navigator.language || defaultLang;
		const langCode = preferredLang.split("-")[0];
		const isValidPreferredLang = Object.keys(languages).includes(langCode);

		if (
			langCode !== defaultLang &&
			isValidPreferredLang &&
			window.location.pathname === "/"
		) {
			sessionStorage.setItem("hasRedirected", "true");
			window.location.href = `/${langCode}/`;
		}
	}
</script>
