---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
---

<Layout
 title="Matías Medina - React Web Developer and front-end expert"
 description="Matías Medina, specialized on web development with 4 years of experience in React and team leadership skills.">
	<main>
		<Header />
		<Hero />
		<section
			id="experience"
			class="h-svh w-svh flex items-center justify-center"
		>
			Experience
		</section>
		<section
			id="technologies"
			class="h-svh w-svh flex items-center justify-center"
		>
			Technologies
		</section>
		<section
			id="contact"
			class="h-svh w-svh flex items-center justify-center"
		>
			Contact
		</section>
	</main>
</Layout>
