---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
import Technologies from "../components/Technologies.astro";
---

<Layout
	title="Matías Medina - React Web Developer and frontend expert"
	description="Matías Medina, specialized on web development with 4 years of experience in React and team leadership skills."
>
	<main class="overflow-hidden">
		<Header />
		<div class="px-4 pb-12 md:px-8">
			<Hero />
			<Experience />
			<Technologies />
		</div>
	</main>
</Layout>
