---
const {
    id = "",
    classStyles = "",
    ...props
} = Astro.props;
---

<a
    {...props}
    target="_blank"
    rel="noopener noreferrer"
    class={`inline-flex items-center px-5 py-2 rounded-full bg-gradient-to-r from-[#a259ff] to-[#b57aff] text-blue-50 font-medium transition-all duration-300 hover:shadow-lg hover:shadow-[#a259ff]/30 focus:outline-none focus:ring-2 focus:ring-[#a259ff] focus:ring-offset-2 hover:scale-105 ${classStyles}`}
>
    View Figma Design
    <svg
        fill="none"
        class="w-5 h-5 ml-2 text-blue-50"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"
        ></path>
    </svg>
</a>
