---
import JobExperienceContainer from "./JobExperienceContainer.astro";
import SectionTitle from "./SectionTitle.astro";
---

<section id="experience" class="relative max-w-7xl mx-auto mt-28 md:mt-44">
    <SectionTitle prefix="Summary of my" title="Professional Experience" classStyles="mb-6" />
    <div class="flex flex-col gap-16">
        <JobExperienceContainer
            right
            eagerImg
            imgSrc="./experience-1.webp"
            jobTitle="React Team Leader"
            company="Kandui"
            from="August 2022"
            to="September 2023"
            description="Led UX/UI and React team at a FinTech startup, delivering investment-focused products and scalable, user-centric tools through strategic frontend development and design."
            techList={[
                "Next.js",
                "React",
                "TypeScript",
                "Redux",
                "Git",
                "HTML5",
                "CSS3",
                "Figma",
                "styled-components",
                "Django",
            ]}
        />
        <JobExperienceContainer
            right={false}
            imgSrc="./experience-2.webp"
            jobTitle="React Developer"
            company="RG Corp"
            from="January 2020"
            to="July 2022"
            description="Designed and developed views for a FinTech startup, focused on user-friendly KYC forms and customer enrollment. Refactored legacy React components using hooks to enhance usability."
            techList={[
                "React",
                "TypeScript",
                "Redux",
                "Git",
                "Figma",
                "HTML5",
                "CSS3",
                "styled-components",
            ]}
        />
    </div>
    <div
        class="absolute -z-10 top-[15%] left-[10%] mx-auto size-[600px] filter blur-[110px] rounded-full animate-blob opacity-20 bg-blue-600"
    >
    </div>
</section>
