---
import LanguageDropdown from "./LanguageDropdown.astro";
import Globe from "./icons/Globe.astro";
---

<div
  class="sticky top-0 px-8 pt-6 lg:pt-6 flex items-center justify-between text-blue-300 font-medium text-sm tracking-wide"
>
  <p class="flex items-center text-2xl font-semibold text-blue-100">mat-dev</p>
  <div class="flex items-center">
    <div class="-my-1 ml-2 -mr-1 md:hidden">
      <button
        id="portal-button"
        type="button"
        class="text-slate-500 w-8 h-8 flex items-center justify-center hover:text-blue-100"
      >
        <svg width="24" height="24" fill="none" aria-hidden="true">
          <path
            d="M12 6v.01M12 12v.01M12 18v.01M12 7a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm0 6a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm0 6a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
          </path>
        </svg>
      </button>
      <div
        hidden=""
        style="position:fixed;top:1px;left:1px;width:1px;height:0;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;border-width:0;display:none"
      >
      </div>
    </div>
    <div class="hidden md:flex items-center">
      <nav>
        <ul
          class="flex items-center [&>a]:transition-colors [&>a]:cursor-pointer"
        >
          <li>
            <a class="hover:text-blue-100 p-4" href="#home">Home</a>
          </li>
          <li>
            <a href="#experience" class="hover:text-blue-100 p-4">Experience</a>
          </li>
          <li>
            <a class="hover:text-blue-100 p-4" href="#technologies"
              >Technologies</a
            >
          </li>
          <li>
            <a class="hover:text-blue-100 p-4" href="/contact">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="flex items-center border-l ml-3 pl-2 border-blue-950">
        <div class="ml-3 block hover:text-blue-100">
          <Globe id="language-dropdown-button" class="size-5 cursor-pointer" />
          <LanguageDropdown id="language-dropdown-dialog" />
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div id="portal-container" class="hidden">
    <button
      type="button"
      data-headlessui-focus-guard="true"
      aria-hidden="true"
      style="position: fixed; top: 1px; left: 1px; width: 1px; height: 0px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap; border-width: 0px;"
    >
    </button>
    <div>
      <div
        class="fixed z-50 inset-0 md:hidden"
        id="portal-dialog"
        role="dialog"
        tabindex="-1"
        aria-modal="true"
        data-open=""
      >
        <div class="fixed inset-0 bg-black/20 backdrop-blur-sm"></div><div
          class="fixed top-4 right-4 w-full max-w-xs bg-blue-950 rounded-lg shadow-lg p-6 text-l font-normal text-blue-300"
          data-open=""
        >
          <button
            id="inner-portal-button"
            type="button"
            class="absolute top-5 right-5 w-8 h-8 flex items-center justify-center text-blue-300 hover:text-blue-100"
          >
            <span class="sr-only">Close navigation</span>
            <svg
              viewBox="0 0 10 10"
              class="w-2.5 h-2.5 overflow-visible"
              aria-hidden="true"
            >
              <path
                d="M0 0L10 10M10 0L0 10"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
              >
              </path>
            </svg>
          </button>
          <ul class="space-y-6">
            <li>
              <a class="hover:text-sky-500" href="#home">Home</a>
            </li>
            <li>
              <a href="#experience" class="hover:text-sky-500">Experience</a>
            </li>
            <li>
              <a class="hover:text-sky-500" href="#technologies">Technologies</a
              >
            </li>
            <li>
              <a class="hover:text-sky-500" href="#contact">Contact</a>
            </li>
          </ul>
          <div class="mt-6 pt-6 border-t border-slate-700">
            <div class="flex items-center justify-between">
              <label for="theme" class="text-blue-300 font-light">
                Select language
              </label>
              <div
                class="relative flex items-center ring-1 ring-slate-600 bg-slate-700 rounded-lg shadow-sm p-2 text-blue-100 font-semibold"
              >
                <Globe class="size-5 mr-2" />
                English
                <svg class="w-6 h-6 ml-2 text-blue-500" fill="none">
                  <path
                    d="m15 11-3 3-3-3"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
                <LanguageDropdown />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      type="button"
      data-headlessui-focus-guard="true"
      aria-hidden="true"
      style="position: fixed; top: 1px; left: 1px; width: 1px; height: 0px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap; border-width: 0px;"
    ></button>
  </div>
</div>

<script>
  const portal = document.querySelector("#portal-container");
  const desktopPortal = document.querySelector("#language-dropdown-dialog");
  const desktopPortalButton = document.getElementById("language-dropdown-button");
  const portalButton = document.getElementById("portal-button");
  const test = document.getElementById("test");
  const portalDialog = document.getElementById("portal-dialog");
  const innerPortalButton = document.getElementById("inner-portal-button");

  function togglePortal() {
    portal.classList.toggle("hidden");
  }

  function toggleDesktopPortal() {
    desktopPortal.classList.toggle("hidden");
  }

  portalButton.addEventListener("click", togglePortal);
  desktopPortalButton.addEventListener("click", toggleDesktopPortal);
  innerPortalButton.addEventListener("click", togglePortal);
  test.addEventListener("click", togglePortal);
  // portalDialog.addEventListener("click", togglePortal);
</script>
