---
import LanguageDropdown from "./LanguageDropdown.astro";
import GlobeIcon from "./icons/GlobeIcon.astro";
---

<div
  id="navbar"
  class="sticky top-0 px-8 py-6 pb-8 z-40 transition-transform from-slate-900 via-[rgba(0,0,0,0.5)] to-transparent"
>
  <div
    class="flex items-center justify-between text-blue-300 font-medium text-sm tracking-wide 2xl:max-w-7xl mx-auto"
  >
    <p class="flex items-center text-2xl font-semibold text-blue-100">
      mat-dev
    </p>
    <div class="flex items-center">
      <div class="-my-1 ml-2 -mr-1 md:hidden">
        <button
          id="mobile-menu-open-button"
          aria-label="Open menu"
          type="button"
          class="text-slate-500 w-8 h-8 flex items-center justify-center hover:text-blue-100"
        >
          <svg width="24" height="24" fill="none" aria-hidden="true">
            <path
              d="M12 6v.01M12 12v.01M12 18v.01M12 7a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm0 6a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm0 6a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
            </path>
          </svg>
        </button>
      </div>
      <div class="hidden md:flex items-center">
        <nav>
          <ul
            class="flex items-center [&>a]:transition-colors [&>a]:cursor-pointer"
          >
            <li>
              <a class="hover:text-blue-100 p-4" href="#about-me">About me</a>
            </li>
            <li>
              <a href="#experience" class="hover:text-blue-100 p-4"
                >Experience</a
              >
            </li>
            <li>
              <a class="hover:text-blue-100 p-4" href="#technologies"
                >Technologies</a
              >
            </li>
          </ul>
        </nav>
        <div class="relative flex items-center border-l ml-3 pl-2 border-blue-950">
          <div
            id="desktop-language-dropdown-button"
            class="block hover:text-blue-100 -m-2 p-2 cursor-pointer ml-1"
          >
            <GlobeIcon class="size-5" />
          </div>
          <LanguageDropdown
            id="desktop-language-dropdown"
            class="hidden mr-2"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div id="mobile-menu" class="hidden fixed inset-0 z-50 md:hidden">
  <div class="fixed inset-0 bg-black/20 backdrop-blur-sm"></div>
  <div
    class="fixed top-4 right-4 w-full max-w-xs bg-blue-950 rounded-lg shadow-lg p-6 text-l font-normal text-blue-300"
  >
    <button
      id="mobile-menu-close-button"
      type="button"
      class="absolute top-5 right-5 w-8 h-8 flex items-center justify-center text-blue-300 hover:text-blue-100"
    >
      <span class="sr-only">Close navigation</span>
      <svg
        viewBox="0 0 10 10"
        class="w-2.5 h-2.5 overflow-visible"
        aria-hidden="true"
      >
        <path
          d="M0 0L10 10M10 0L0 10"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
        >
        </path>
      </svg>
    </button>
    <ul class="space-y-6">
      <li>
        <a class="hover:text-sky-500" href="#about-me">About me</a>
      </li>
      <li>
        <a href="#experience" class="hover:text-sky-500">Experience</a>
      </li>
      <li>
        <a class="hover:text-sky-500" href="#technologies">Technologies</a>
      </li>
    </ul>
    <div class="mt-6 pt-6 border-t border-slate-700">
      <div class="flex items-center justify-between">
        <label for="theme" class="text-blue-300 font-light">
          Select language
        </label>
        <div
          id="mobile-language-dropdown-button"
          class="relative flex items-center ring-1 ring-slate-600 bg-slate-700 rounded-lg shadow-sm py-2 px-3 text-blue-100 font-semibold"
        >
          <GlobeIcon class="size-5 mr-2" />
          English
          <svg class="w-6 h-6 ml-2 text-blue-500" fill="none">
            <path
              d="m15 11-3 3-3-3"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
          <LanguageDropdown id="mobile-language-dropdown" class="hidden" />
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  let lastScrollY = window.scrollY;

  const navbar = document.querySelector("#navbar");
  const mobileMenu = document.getElementById("mobile-menu");
  const mobileOpenMenuButton = document.getElementById("mobile-menu-open-button");
  const mobileCloseMenuButton = document.getElementById("mobile-menu-close-button");
  const desktopLanguageDropdown = document.getElementById("desktop-language-dropdown");
  const mobileLanguageDropdown = document.getElementById("mobile-language-dropdown");
  const desktopLanguageDropdownButton = document.getElementById("desktop-language-dropdown-button");
  const mobileLanguageDropdownButton = document.getElementById("mobile-language-dropdown-button");

  function handleScroll() {
    const currentScrollY = window.scrollY;

    navbar.classList.toggle("bg-gradient-to-b", currentScrollY > 100);
    navbar.classList.toggle("-translate-y-full", currentScrollY > 40 && currentScrollY > lastScrollY);

    lastScrollY = currentScrollY;
  }

  function handleClickOutside(element, button, closeFn) {
    return function (event) {
      const target = event.target;
      const isClickInside = element.contains(target);
      const isClickOnButton = button.contains(target);

      if (!isClickInside && !isClickOnButton && !element.classList.contains("hidden")) {
        closeFn();
      }
    };
  }

  function toggleClassOnElement(element, className = "hidden") {
    return function () {
      element.classList.toggle(className);
    };
  }

  window.addEventListener("scroll", handleScroll);

  mobileOpenMenuButton.addEventListener("click", toggleClassOnElement(mobileMenu));
  mobileCloseMenuButton.addEventListener("click", toggleClassOnElement(mobileMenu, "hidden"));
  desktopLanguageDropdownButton.addEventListener("click", toggleClassOnElement(desktopLanguageDropdown));
  mobileLanguageDropdownButton.addEventListener("click", toggleClassOnElement(mobileLanguageDropdown));

  document.addEventListener("click", handleClickOutside(mobileMenu, mobileOpenMenuButton, toggleClassOnElement(mobileMenu, "hidden")));
  document.addEventListener("click", handleClickOutside(desktopLanguageDropdown, desktopLanguageDropdownButton, toggleClassOnElement(desktopLanguageDropdown, "hidden")));

  document.querySelectorAll("#mobile-menu a").forEach(link => {
    link.addEventListener("click", toggleClassOnElement(mobileMenu, "hidden"));
  });
</script>