---
import { getLangFromUrl, getLocalizedUrl } from "../i18n/utils";
import { languages } from "../i18n/ui";
import CheckIcon from "../components/icons/CheckIcon.astro";

const { id = "", classStyles = "", ...props } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<div
    class={`hidden absolute z-30 top-full right-0 rounded-md ring-slate-900/10 shadow-lg overflow-hidden w-36 py-1 text-sm font-semibold bg-blue-950 ring-0 highlight-white/5 text-blue-300 border-2 border-slate-700 mt-4 ${classStyles}`}
    id={id}
    aria-orientation="vertical"
    role="listbox"
    tabindex="0"
    data-open=""
    style="--button-width: 24px;"
    {...props}
>
{Object.entries(languages).map(([langKey, label]) => (
    <a
        href={`/${getLocalizedUrl(langKey)}`}
        class={`py-2 px-4 flex items-center cursor-pointer hover:text-blue-100 ${lang === langKey && "text-blue-600"} ${lang === langKey && "pointer-events-none"}`}
        role="option"
        tabindex="-1"
        aria-selected="false"
    >
        {label}
        <CheckIcon
            class={`${lang === langKey ? "inline" : "hidden"} size-4 text-blue-600 my-auto ml-auto`}
        />
    </a>
))}
</div>
