---
const { id = "language-dropdown-dialog", ...props } = Astro.props;
---

<div
    class="hidden absolute z-50 top-full right-0 bg-white rounded-lg ring-1 ring-slate-900/10 shadow-lg overflow-hidden w-36 py-1 text-sm text-slate-700 font-semibold dark:bg-slate-800 dark:ring-0 dark:highlight-white/5 dark:text-slate-300 mt-4"
    id={id}
    aria-orientation="vertical"
    role="listbox"
    tabindex="0"
    data-open=""
    style="--button-width: 24px;"
    {...props}
>
    <div
        class="py-1 px-2 flex items-center cursor-pointer"
        role="option"
        tabindex="-1"
        aria-selected="false"
    >
        English
    </div>
    <div
        class="py-1 px-2 flex items-center cursor-pointer"
        role="option"
        tabindex="-1"
        aria-selected="false"
    >
        Español
    </div>
    <div
        class="py-1 px-2 flex items-center cursor-pointer"
        role="option"
        tabindex="-1"
        aria-selected="false"
    >
        Português
    </div>
</div>
