---
const { id = "language-dropdown-dialog", classStyles = "", ...props } = Astro.props;
---

<div
    class={`hidden absolute z-30 top-full right-0 rounded-md ring-slate-900/10 shadow-lg overflow-hidden w-36 py-1 text-sm font-semibold bg-blue-950 ring-0 highlight-white/5 text-blue-300 border-2 border-slate-700 mt-4 ${classStyles}`}
    id={id}
    aria-orientation="vertical"
    role="listbox"
    tabindex="0"
    data-open=""
    style="--button-width: 24px;"
    {...props}
>
    <div
        class="py-2 px-4 flex items-center cursor-pointer hover:text-blue-100"
        role="option"
        tabindex="-1"
        aria-selected="false"
    >
        English <svg width="14" height="12" viewBox="0 0 11 9" fill="none"><g><rect x="2.10889" y="7.03003" width="10" height="2" transform="rotate(-44.6688 2.10889 7.03003)"></rect><rect x="1.42236" y="3.48999" width="5" height="2" transform="rotate(45.3312 1.42236 3.48999)"></rect></g></svg>
    </div>
    <div
        class="py-2 px-4 flex items-center cursor-pointer hover:text-blue-100"
        role="option"
        tabindex="-1"
        aria-selected="false"
    >
        Español
    </div>
    <div
        class="py-2 px-4 flex items-center cursor-pointer hover:text-blue-100"
        role="option"
        tabindex="-1"
        aria-selected="false"
    >
        Português
    </div>
</div>
