---

const { prefix, title, center = false } = Astro.props;
---

<div class={center && 'text-center'}>
    <p class="font-normal text-base text-blue-600 leading-5">{prefix}</p>
    <h2 class="font-medium text-4xl text-blue-50 leading-none">{title}</h2>
</div>

