---
import SpeedInsights from "@vercel/speed-insights/astro";
import "@fontsource-variable/inter";
import { getLangFromUrl } from "../i18n/utils";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" href="/favicon.ico" sizes="any">
		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>{title}</title>
	</head>
	<body>
		<SpeedInsights />
		<slot />
		<script src="/taos.min.js" is:inline></script>
	</body>
</html>

<style is:global>
	:root {
	}
	html {
		background: #040c0d;
		color: #b0c7cb;
		font-size: 16px;
	}
</style>
